/* 
Color del logo
#FF8000
Fuente
Assistant - 800

*/

/* ***************************** Tipografia Insertada *************************** */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap");

/* *************************** Parámetros básicos ****************************** */

:root {
  --main-font: sans-serif;
  --second-font: "Raleway";
  --font-size: 16px;
  --main-color: lightskyblue;
  --second-color: #222;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--second-font), var(--main-font);
  scroll-behavior: smooth;
}

/* *********************************** Header y Menú ********************************* */
.header {
  width: 100%;
  text-align: center;
  background: white;
  border-bottom: thin solid lightgray;
  position: sticky;
  top: 0;
  padding: 1rem;
}

.header h1 {
  /* El h1 tambien tiene margenes predeterminados arriba y abajo asi que los reseteamos a 0 y los laterales en automatico */
  margin: 0 auto;
  /* Con esto le damos al jesuschirii un pequeño bordeado en gris */
  text-shadow: 0.5px 0px 0px lightgrey, 0px 0.5px 0px lightgrey,
    -0.5px 0px 0px lightgrey, 0px -0.5px 0px lightgrey;
  /* border: 2px solid #ccc;
  border-radius: 80%; */
  font-size: 30px;
}

header h1,
nav {
  /* El header que lo compone el logo y el texto y el nav se ponen en un solo bloque y se alinean*/
  display: inline-block;

  /* con esto el menu queda alineado al medio del objeto con el que comparte el ancho que es la imagen*/
  vertical-align: middle;
}

.header a {
  color: black;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.2s ease-in;
}
.header a:hover {
  opacity: 0.7;
}

.nav a {
  padding: 0 1.5rem;
}

/* *****************************  Body y Secciones  *************************** */

body {
  margin: 0;
  /* Con esto hacemos que si el contenido de la pagina sobresale del tamaño de la pagina, no se genere la barra de desplazamiento horizontal */
  overflow-x: hidden;

  background-color: lightskyblue;
}

.section {
  padding: 2rem;
  /* Con esto corregimos el padding de top que se habia puesto a 2rem  y tambien con esto hacemos que la cabecera no tape las secciones*/
  padding-top: 4rem;
  /* Con esto le damos un margen a los lados automaticos a las secciones  para que se ajuste a la anchura maxima de contenedor que es de 1200px*/
  margin-left: auto;
  margin-right: auto;
  /* Le damos una anchura a las secciones de todo el ancho de la pagina */
  width: 100%;
  /* Para pantallas de mas de 1200px, las secciones van a mantener el maximo ancho del contenedor que es de 1200px */
  max-width: var(--container-width);
  /* Esto lo que hace es que aunque el contenido de la seccion sea mas pequeña que el tamaño del view-port, ocupe todo el tamaño del view-port */
  min-height: 100vh;
  text-align: center;
}

#seccion1,
#seccion3,
#seccion5 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#seccion2,
#seccion4 {
  background-color: white;
}

#seccion4,
#seccion5 {
  font-size: 40px;
}

#seccion1 h2 {
  font-size: 60px;
  margin: auto;
}

#seccion1,
#seccion4 {
  display: flex;
}

.proyecto-web {
  border-bottom: 1px solid #ccc;
  /* border: 2px solid #ccc; */
  font-size: 16px;
  text-align: justify;
  width: 100%;
}

.proyectos-web {
  padding: 0;
  margin: auto;
}

ul {
  list-style: none; /* Quitamos los marcadores */
  padding: 0; /* Quitamos el padding por defecto de la lista */
  margin-left: 10px; /* Separamos la lista de la izquierda */
}

li::before {
  /* Añadimos contenido antes de cada elemento de la lista */
  content: "\2022"; /* Insertamos el marcador */
  padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
  color: var(--second-color); /* Coloreamos la viñeta */
}
